@font-face {
  font-family: 'Silkscreen';
  src:
    url('../fonts/Silkscreen-Regular.woff2') format('woff2'),
    url('../fonts/Silkscreen-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Silkscreen';
  src:
    url('../fonts/Silkscreen-Bold.woff2') format('woff2'),
    url('../fonts/Silkscreen-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #f7f6e5;
  font-family: 'Silkscreen';
}

header {
  height: 220px;
  text-align: center;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(54, 6, 77);
}

.main {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.board {
  display: flex;
  flex-direction: column;
  height: 302px;
  width: 300px;
  border: 1px solid black;
  background-color: white;
}

#grid-two[data-active='false'] {
  filter: blur(2px);
}

#grid-two[data-active='true'] {
  cursor: crosshair;
}

.row {
  display: flex;
}

.square,
.ship-square {
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.controls {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.set {
  display: flex;
  gap: 20px;
}

button {
  border-radius: 5px;
}

button:disabled {
  filter: blur(2px);
}

dialog:open {
  height: 150px;
  width: 350px;
  color: rgb(54, 6, 77);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

dialog button {
  font-size: 16px;
  width: 100px;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}

.ship-container {
  height: 152px;
  width: 300px;
  align-items: center;
  padding-left: 138px;
}
.ship {
  border: 1px solid black;
  background-color: rgb(218, 72, 72);
  display: flex;
  align-items: center;
  cursor: move;
}

.ship[data-direction='col'] {
  width: 32px;
  flex-direction: column;
}

.ship[data-direction='row'] {
  height: 32px;
}

#size5[data-direction='col'] {
  height: 152px;
}

#size5[data-direction='row'] {
  width: 152px;
}

#size4[data-direction='col'] {
  height: 122px;
}

#size4[data-direction='row'] {
  width: 122px;
}

#size3[data-direction='col'] {
  height: 92px;
}

#size3[data-direction='row'] {
  width: 92px;
}

#size2[data-direction='col'] {
  height: 62px;
}

#size2[data-direction='row'] {
  width: 62px;
}
